/* Updatepw.css */

.update-password-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.update-password-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 10px;
}

.update-password-title > LockOutlinedIcon {
  width: 1em;
  height: 1em;
}

.update-password-description-div {
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  text-align: center;
  margin-top: 30px;
}

.update-password-description {
  font-size: 16px;
  color: #666;
}

.update-password-form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.update-password-form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.update-password-form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-password-form-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.update-password-form-button {
  padding: 10px;
  font-size: 16px;
  background-color: #1c90fb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.update-password-form-button:hover {
  background-color: #010a0c;
}

.update-password-error,
.update-password-success {
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.update-password-error {
  color: #ff0000;
  font-size: 17px;
  margin-top: 10px;
}

.update-password-success {
  color: #00a000;
  
}

/* 추가된 스타일 */
.update-password-description3 {
  white-space: nowrap;
}
.update-password-form {
  height: 600px;
}



