.App {
  text-align: center;
}
.horizontal-line {
  width: 85%;
  border-top: 1px solid #BDBDBD;
  margin-top: 45px;
  margin-bottom: 20px;
  
}
.horizontal-line2 {
  justify-content: center;
  width: 20%;
  border-top: 1px solid #BDBDBD;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 15px;
  
}
.horizontal-line3 {
  justify-content: center;
  width: 20%;
  border-top: 1px solid #BDBDBD;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 15px;
  
}
.small-text{
  font-size: 11px; /* 작게 조절하고자 하는 폰트 크기 */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
